<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6d22d069-acc2-49a4-8a87-ff533386b647" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6d22d069-acc2-49a4-8a87-ff533386b647fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
